/* Container */
.container {
  max-width: 1200px;
  padding: 2rem;
}

/* Container Heading */
.container h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--tag-text-color);
}

/* Projects Grid */
.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Responsive columns */
  gap: 2rem;
}

/* Project Items */
.projectsItem {
  border-bottom: 1px solid var(--border-color-dark);
  padding-bottom: 1.5rem;
}

.projectsItem > div + p {
  margin-top: 1rem;
}

.projectsItem h4 {
  color: var(--projects-title-color);
  margin-bottom: 0.5rem;
}

.projectsItem a {
  margin-top: 0.5rem;
}

.projectsItem ul {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .projectsGrid {
    grid-template-columns: 1fr; /* Single column on mobile */
    padding: 0 1rem; /* Padding to prevent content from touching the edges */
  }
}