.projectItem {
  background-color: var(--card-color);
  padding: 1rem;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.2);
  border-radius: 8px;
  border:  3px solid var(--border-dark-color);
  display: flex;
  flex-direction: column;
  text-align: left;
}


.imageWrapper {
  position: relative; /* Para permitir que o Image preencha o espaço */
  width: 100%;
  height: 250px;
  overflow: hidden; 
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px; /* Adiciona o arredondamento */
}

.imageContainer {
  width: 90%;
  height: 100%; 
  border-radius: 12px;
}

.projectItemTitle {
  font-size: 1.25rem;
  color: var(--text-color-dark);
  margin-bottom: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.projectItem h2{
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.projectItem p {
  margin-bottom: 0.5rem;
}

.projectItem > div + p {
  margin-top: 1rem;
}

.projectItem h4 {
  color: var(--text-color-dark);
  margin-bottom: 0.5rem;
}

.projectItem a {
  margin-top: 0.5rem;
  word-wrap: break-word;
}

.projectItem ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.projectItem ul li {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-color: var(--tag-bg-color);
  color: var(--tag-text-color);
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-size: 0.9rem;
}
