/* timeline.module.css */

.timelineItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
  position: relative;
}

.timelineItem:nth-child(even) {
  flex-direction: row-reverse; /* Alinha à direita */
}

.timelineContent {
  background: #ffb703;
  color: #000000;
  /* Borda estilizada para quadrinhos */
  border: 3px solid #000;
  padding: 1rem;
  word-wrap: break-word;
  border-radius: 8px;
  width: 45%;
}

.timelineYear {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  background: #f9870e;
  color: #1c1c1c;
  /* Borda estilizada para quadrinhos */
  border: 3px solid #000;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-transform: uppercase;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.2);
  border-radius: 8px;
  font-weight: bold;
  padding: 1rem;
  position: absolute;
  word-wrap: break-word;
  flex-wrap: wrap;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.container {
  padding: 2rem;
  position: relative;
  opacity: 0.3;
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('/images/background_comics.png');
  background-size: cover;
  background-position: bottom;
  border-radius: 6px;
  z-index: -1;
  opacity: 0.1;
}

.container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
  opacity: 0.5;
}

.title {
  text-transform: uppercase;
  background-color: #ffffff;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.2);
  text-align: center;
  margin-bottom: 2rem;
  color: #000000;
}

.timeline {
  position: relative;
  padding: 1rem 0;
  margin: 2rem 0;
  list-style-type: none;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .timelineYear {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    background: #d8bfd8;
    color: #1c1c1c;
    border-radius: 8px;
    font-weight: bold;
    padding: 1rem;
    position: relative;
    word-wrap: break-word;
    flex-wrap: wrap;
  }
  .timelineContent {
    width: 100%;
  }
}