.container {
  color: var(--text-color-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.footer {
  padding: 1rem 0;
  text-align: center;
  background-color:#2d2732;
  color: #d8bfd8;
  width: 100%;
  position: fixed;
  bottom: 0%;
}
