.container {
  background-color: #151313a4;
  color: #e0e0e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 2rem;
}

.footer {
  padding: 1rem 0;
  text-align: center;
  background-color:#2d2732;
  color: #d8bfd8;
  width: 100%;
  position: relative;
  bottom: 0;
}
