.container {
    padding: 1rem;
  }
  
  .container ul {
    list-style: none;
    padding: 0;
  }
  
  .container li::before {
    content: '•';
    color: #d8bfd8;
    padding-right: 1rem;
  }  

  .container h1{
    text-align: center;
  }

.content{
  margin-top: 1rem;
  background-color: #422e59;
  border-radius: 8px;
  padding: 2rem;
}
  .techList {
    list-style: none;
    padding: 0;
  }
  
  .techItem {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1rem 0;
  }
  .techItem h1 {
    margin-bottom: 1rem;
  }

  .techItem span {
    margin-right: 0.4rem;
  }
  
  .techItem .material-icons {
    font-size: 1.5rem;
    color: #d8bfd8;
  }